<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.rowcatcher.rowplux" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>RowPlux</name>
    <js-module name="RowPlux" src="www/RowPlux.js">
        <clobbers target="rowplux" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="RowPlux">
                <param name="android-package" value="com.rowcatcher.rowplux.RowPlux" />
            </feature>
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        </config-file>
        <source-file src="src/android/RowPluxMain.java" target-dir="src/com/rowcatcher/rowplux" />
        <source-file src="src/android/RowPlux.java" target-dir="src/com/rowcatcher/rowplux" />
        <source-file framework="true" src="src/android/libs/pluxapi-0.1.2.jar" target-dir="libs" />
    </platform>
</plugin>